<template>
  <div>
    <b-container class="mt-5">
      <h1 class="mb-2">Display direction from SCG Bangsue to Central World</h1>
      <div id="map"></div>
    </b-container>
  </div>
</template>

<script>
import axios from 'axios'

const google = window.google
export default {
  name: 'MapsDirection',

  data () {
    return {
      map: null,
      mapCenter: { lat: 13.7775364, lng: 100.593564 },
      directionData: {}
    }
  },
  created () {
    this.getMapDirection()
  },
  mounted () {
    this.initMap()
  },
  methods: {
    getMapDirection () {
      var vm = this
      axios.get('https://antonicx.herokuapp.com/maps/direction')
        .then(function (response) {
          console.log('response', response.data)
          vm.directionData = response.data
        })
        .catch(function (error) {
          console.error('Error! Could not reach the API. ' + error)
        })
    },
    initMap () {
      const directionsService = new google.maps.DirectionsService()
      const directionsRenderer = new google.maps.DirectionsRenderer()
      this.map = new google.maps.Map(document.getElementById('map'), {
        zoom: 13,
        center: this.mapCenter
      })

      directionsRenderer.setMap(this.map)
      directionsService.route(
        {
          origin: {
            query: 'SCG+สำนักงานใหญ่+บางซื่อ'
          },
          destination: {
            query: 'เซ็นทรัลเวิลด์'
          },
          travelMode: google.maps.TravelMode.DRIVING
        },
        (response, status) => {
          if (status === 'OK') {
            directionsRenderer.setDirections(response)
          } else {
            window.alert('Directions request failed due to ' + status)
          }
        }
      )
    }
  }
}
</script>

<style >
#map {
  height: 500px;
}
</style>
